<div class="col">
    <h4>Login to Blockchain network</h4>
    <form action="/broadcast-and-join" method="POST">
        <div class="form-group">
            <label for="inputSite">Node URI</label>
            <input type="text" name="nodeURI" class="form-control" id="nodeURI" placeholder="Site URI">
        </div>
        <br/>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
</div>