<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../partials/header') %>
    <title>Wallet</title>
</head>

<body>
    <div class="container">
        <div class="row">
            Dashboard
        </div>
    </div>
</body>

</html>